<html>
<head><title>Steam OpenID</title></head>
<body>
{{if .user}}
    <p>{{.user}} logged in</p>
{{else}}
    <a href="/discover">
        <img alt="Sign in through Steam" src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png" />
    </a>
{{end}}
<table id="gameList"></table>


<script>
    {{if .user}}

    var listeJeux = JSON.parse({{.games}})

    var table = document.getElementById('gameList');
    var text = "<tr><th>Game</th><th>Owned by</th><th>Tags</th></tr>";
    for (var i = 0; i < listeJeux["games"].length; i++) {
        var obj = listeJeux["games"][i];
        // console.log(obj)
        // console.log(obj["name"])
        // console.log(obj["owners"].length)
        if (obj["owners"].length > 1) {
            text = text + "<tr><td>" + obj["name"] + "</td><td>" + obj["owners"].length + "</td><td>" + obj["tags"].join() + "</td></tr>"
        }

    }
    table.innerHTML = text;
    // console.log(listeJeux)


    {{end}}
</script>


</body>
</html>